<header>Classes Page</header>
<body>
  <input
    type="file"
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
  />
  <h3>Upload PDF</h3>
  <div class="file-upload">
    {{ fileName || 'No file uploaded yet.' }}

    <button
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="fileUpload.click()"
    >
      <div>attach_file</div>
    </button>
  </div>
  <h3>Manual Upload</h3>

  <h3>Classes</h3>
  <div *ngFor="let UC of UCs">
    <h4>
      <a [title]="UC.name + ' details'">
        {{ UC.name }}
      </a>
    </h4>

    <p *ngIf="UC.description">Description: {{ UC.description }}</p>
  </div>
</body>
